 header {
    background-color: #f9f9f9;

    padding: 1rem;

    display: inline;
    align-items: center;
    justify-content: center;

    gap: 4rem;
 }

 a >  {list-style-type: none;
    padding: 0;
    margin: 0;
    

 }


 a {
    display: inline-block;

    gap: 10px;
    margin-right: 2rem;
    font-size: 1.5rem;
    font-weight:  600;
    color: white;

 }

 